div.tooltip {
    position: absolute;
    text-align: center;
    width: 90px;
    height: 80px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.bigBrush {
    width: 3px;
    fill: blue;
}

.smallBrush {
    width: 3px;
    fill: red;
}
.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}
